<h1>Reset Your Password</h1>
<div class="error">
  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>
</div>
<% if @data %>
  <form id='form' action='#' method='POST'>
    <label>New Password for <%= @data.user.first_name %> </label>
    <input name="password" type="password" />
    <button>Change Password</button>
  </form>
<% end %>